<div class="pages">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: 'alert alert-info' %>
  <% end %>
  <p>
    I am the home page. Once you visit the site, you will meet me first. You should see a flash message soon.
  </p>
</div>
