.pages {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  p {
    margin: 0;
    font-size: 3rem;
    width: 60%;
    text-align: center;
  }
}
